@page
@model Web.Pages.Faculties.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Faculty</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty.Initial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Initial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty.Designation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Designation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Department.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty.IsRemoved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty.IsRemoved)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Faculty.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
