@page
@model Web.Pages.Faculties.IndexModel

@{
    ViewData["Title"] = "Faculties";
}

<h1 class="mt-4">Faculties</h1>

<p class="text-right">
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-hover table-borderless table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Faculties[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculties[0].Initial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculties[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculties[0].Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculties[0].Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Faculties)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Initial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td class="text-right">
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
