@page
@model Web.Pages.Faculties.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Faculty</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty.Initial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Initial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty.Designation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Designation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Department.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Faculty.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
