@page
@model Web.Pages.Faculties.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Faculty[0].Initials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty[0].Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty[0].Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty[0].IsRemoved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Faculty) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Initials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRemoved)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
