@page
@model Web.Areas.Admin.Pages.Students.CourseEnrollmentModel
@{
}

<h1>@Model.Student.FullName</h1>
<br />

<form method="post">
    <div class="form-group">
        <label asp-for="Semesters" class="form-label"></label>
        <select asp-for="Semester.Id" class="form-control" asp-items="ViewBag.SemesterId"
                id="semesterDropDown"></select>
    </div>

    <div class="form-group">
        <label asp-for="Course" class="form-label"></label>
        <select asp-for="Course.Id" class="form-control"
                asp-items="ViewBag.CourseId" id="courseDropDown"
                onchange="getSections()">
            <option value="" disabled selected style="display:none;">Select Course</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Section" class="form-label"></label>

        <select asp-for="Enrollment.SectionId" class="form-control"
                id="sectionDropDown" onchange="getSeats()">
            <option value="" disabled selected style="display:none;">Select Course</option>
        </select>
    </div>
    <br />
    <div class="form-group">
        <label class="form-label">Seats Available :</label>
        <label class="form-label" id="seatCount"></label>
    </div>
    <br />
    <input type="submit" value="Save" class="btn btn-primary" />

    <input type="hidden" asp-for="Student.Id" />
</form>
<br />
<table class="table table-striped table-hover" id="compolsoryTable">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Enrollment.Section.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.Enrollment.Section.Semester.Season)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var enrollment in Model.Student.Enrollments)
        {
            <tr>
                <td>@enrollment.Section.Course.Code</td>
                <td>@enrollment.Section.Course.Name</td>
                <td>@enrollment.Section.Course.Credits</td>
                <td>@enrollment.Section.Number</td>
                <td>@enrollment.Section.Semester.Season @enrollment.Section.Semester.Year</td>

                <td>
                    <form method="post">
                        <input type="hidden" asp-for="Enrollment.Id" value="@enrollment.Id" />
                        <input type="hidden" asp-for="Student.Id" />

                        <input type="submit" value="Remove"
                               class="btn btn-primary btn-danger"
                               asp-page-handler="DeleteEnrollment" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>



<script>
    function getSections() {
        var dd = document.getElementById('courseDropDown');
        fetch('http://' + window.location.hostname + ':' + window.location.port+ '/api/Course/' + dd.value)
            .then((response) => response.json())
            .then((data) => {
                let output = document.getElementById('sectionDropDown');
                let seatCount = document.getElementById('seatCount');
                seatCount.innerHTML = "";

                var i;
                for(i = output.options.length ; i >= 1 ; i--)
                {
                    output.remove(i);
                    console.log(2);
                }

                console.log(data.sections);
                (data.sections).forEach(function (section) {
                    let semdd = document.getElementById('semesterDropDown');
                    if (section.semesterId == semdd.value) {
                        var option = document.createElement("option");
                        option.value = section.id;
                        option.text = section.number;
                        output.add(option);
                    }
                })
            })

        }

    function getSeats() {
        var dd = document.getElementById('sectionDropDown');
        fetch('http://' + window.location.hostname + ':' + window.location.port+ '/api/Section/' + dd.value)
            .then((response) => response.json())
            .then((data) => {
                let output = document.getElementById('seatCount');
                output.innerHTML = data.seat;
            })
    }
</script>