@page
@model Web.Areas.Admin.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Roll)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Roll)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Department.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Program)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Program.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.AdmissionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.AdmissionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.CreditsAttained)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.CreditsAttained)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.CreditsTaken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.CreditsTaken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.IsRemoved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.IsRemoved)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
