@page
@using Brotal.Extensions
@model Web.Areas.Admin.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Students";
}

<h1 class="mt-4">@ViewBag.Title</h1>

<p class="text-right">
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Program)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Cgpa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].CreditsTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].CreditsEarned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Student)
        {
            <tr>
                <td>
                    @Html.DisplayTextFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Program.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cgpa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditsTaken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditsEarned)
                </td>
                <td class="text-right">
                    @*<a asp-page="./Edit"
           asp-route-id="@item.Id">
            Edit
        </a> |*@
                    <a asp-page="./Details"
                       asp-route-id="@item.Id">
                        Details
                    </a> |
                    <a asp-page="./Delete"
                       asp-route-id="@item.Id">
                        Delete
                    </a> |
                    <a asp-page="./CourseEnrollment"
                       asp-route-id="@item.Id">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
