@page
@model Web.Areas.DepartmentAdmin.Pages.Students.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Model.Student.StudentId
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Department.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Program)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Program.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.AdmissionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.AdmissionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.CreditsTaken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.CreditsTaken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.CreditsEarned)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.CreditsEarned)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Student.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
