@page
@model Web.Areas.DepartmentAdmin.Pages.Sections.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-4">@ViewBag.Title</h1>

<p class="text-right">
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Section[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section[0].Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section[0].Faculty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Section)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faculty.Initial)
                </td>
                <td class="text-right">
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
